-if @user == current_user
  %h1
    Hi #{@user.full_name}
    %br

    %form{:action => "/users/#{@user.id}/addtask"}
      %button.btn.btn-large Add a task
  %h3
    Friends
  -if !@user.friendships.nil?
    -@user.friendships.each do |friend|
      -if friend.confirmed == true
        %a{:href => "/users/#{friend.friend_id}"}=User.find(friend.friend_id).full_name
  %h3
    Pending Friendships
  -@user.friendships.each do |friend|
    -if friend.confirmed == nil
      =User.find(friend.friend_id).full_name
      %form{:action => "/confirmfriend/#{friend.id}", :method => "post"}
        %button.btn.btn-small Confirm?

  %h3
    Here are the things you still have left to do
  -@user.tasks.each do |task|
    -if task.completed.nil?
      %h3
        %a{:href => '/tasks/' + task.id.to_s}=task.tname
      %form{:action => "/#{task.id}/completetask", :method => "post"}
        %button.btn.btn-small Completed
      %a{:href => '/tasks/' + task.id.to_s}
        %button.btn.btn-small View Details
      %br
  %h3
    Here are your recently completed tasks
  -@user.tasks.each do |task|
    -if !task.completed.nil?
      %h3
        %a{:href => '/tasks/' + task.id.to_s}=task.tname
      %a{:href => '/tasks/' + task.id.to_s}
        %button.btn.btn-small View Details
      %br
      %h5
        Completed At
        =task.completed_at
      %br
-else
  %h1
    =@user.full_name
  %form{:action => "/users/addfriend/#{@user.id}", :method => "post"}
    %button.btn.btn-large Add Friend
  %h3
    Bio
  =@user.bio
  %br
  %h3
    Location
  =@user.full_location
  %h3
    Public To Do List
  -@user.tasks.each do |task|
    -if task.completed.nil? 
      =task.tname 
      on 
      =task.tdate
      %br




